<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AsterixUrl" value="http://192.168.10.51:8099/api/pnomemodels"/>
    <add key="LogFilePath" value="logfile.txt"/>
    <add key="CsvFolderPath" value="C:\Users\Isa\source\repos\TelephoniaDatabaseUpdaterCore\TelephoniaDatabaseUpdaterCore\bin\Debug\netcoreapp2.1"/>
    <add key="MinutesOfTimer" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=Telefoniya.db" providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>